<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="./assets/rs_white_logo.png"
        height="40"
        alt=""
        loading="lazy"/>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="inlineNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarText"
      mdbCollapse
      #inlineNav="mdbCollapse"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a class="nav-link" (click)="logout()" href="#">
          {{userName}}
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </span>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row my-5">
    <p *ngIf="!!response.length">{{response}}</p>
    <div class="col-2">
      <button class="btn btn-info" (click)="testApi()">Test Api</button>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-2">
      <button class="btn btn-danger" (click)="forbiddenTest()">Test Api (forbidden - missing role)</button>
    </div>
  </div>
</div>
